{{define "speedup_prepare"}}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh_CN">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/styles/layout.css" media="all"/>

</head>
<body>
    <div class="page speed_up_page">
        <h2 class="clearfix"><span><!--高速上网-->&nbsp;</span><a href="#" class="ico_close" style="display: none"></a></h2>
        <div class="clearfix">
            <i class="ico_rocket"></i>
            <p>
                <span>免费</span>开启1小时<br/>
                <span>30M</span>高速上网
            </p>
            <a href="#" class="on_off"></a>
        </div>
        <p class="high_speed_mode"><span class="msgCnt">您好，正在检测用户加速环境，请稍等….</span><span id="djsSpan"></span></p>
    </div>
    <script src="/scripts/jquery-1.10.2.min.js"></script>
    <script src="/scripts/speedup_prepare.js"></script>
</body>
</html>
{{end}}