{{define "speedtest"}}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body style="margin:0;padding:0;overflow:hidden">
        <div id="flashcontent" style="margin-left:25px;">
            <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0" width="300" height="265">
                <param name="movie" value="/js/swf/speed.swf" />
                <param name="quality" value="high" />
                <param name="bgcolor" value="#FFFFFF" />
                <embed width="300" height="265" align="middle"  pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" name="flashID" bgcolor="#ffffff" quality="best" menu="false" loop="false" src="/js/swf/speed.swf" id="flashID" allownetworking="all" />
            </object>
        </div>
        <script src="/js/jquery-1.10.2.min.js"></script>
        <script>
            $(function () {
                function thisMovie(movieName) {
                    if (window.document[movieName]) {
                        return window.document[movieName];
                    } else if (navigator.appName.indexOf("Microsoft Internet") == -1) {
                        if (document.embeds && document.embeds[movieName]) {
                            return document.embeds[movieName];
                        }
                    } else {
                        return document.getElementById(movieName);
                    }
                    return false;
                }

                function str(num) {
                    var tfi = thisMovie('flashID');
                    tfi && tfi.setNum && tfi.setNum(num || form1.num.value);
                }

                function end() {
                    var tfi = thisMovie('flashID');
                    tfi && tfi.end && tfi.end();
                }


                var doTimes = 0;
                function dochange() {
                    var num = (Math.random() * 300 + 500).toFixed(0);
                    str(num);
                    doTimes++;
                    setTimeout(doTimes < 5 ? dochange : end, 1500);
                }
                dochange();
            })
        </script>
    </body>
</html>
{{end}}