html{font: 12px/1.5 'Microsoft YaHei','\5fae\8f6f\96c5\9ed1', Tahoma, Helvetica, Arial, sans-serif;}
body {text-align:center;overflow: hidden}
ul{list-style-type:none;}
body,div,ul, menu, dir ,form,input,button,textarea,p,th,td{padding: 0;margin: 0;}
a {text-decoration: none;}
address, caption, cite, code, dfn, em, i, th, var {font-weight: normal;font-style: normal;}
h1, h2, h3, h4, h5, h6 {font-size: 100%;margin:0;}
img{border:none;display:block;}
i{display:inline-block;}
.clearfix {*zoom:1;}
.clearfix:after {
content: ' ';
display: block;
height: 0;
clear: both;
}
.page{width:348px;height:248px;/*border:1px solid #c7c7c7;*/background-color:#f8f8f8;}
/*加速*/

.speed_up_page h2{margin-bottom:20px;padding-left:15px;padding-right:15px;font-weight:normal;font-size:15px;color:#767676;}
.speed_up_page h2 span{float:left;}
.ico_close{float:right;display:inline-block;width:8px;height:8px;background:url(/images/ico_close.jpg) no-repeat; }
.ico_rocket{float:left;width:179px;height:160px;background:url(/images/ico_rocket.jpg) no-repeat;}
.speed_up_page div p{float:left;line-height:26px;text-align:left;font-size:17px;color:#4a4a4a;}
.speed_up_page div p span{color:#ff3333;}
.on_off{float:left;display:inline-block;width:127px;height:43px;margin-top:15px;background:url(/images/btn_on_off.jpg) no-repeat;}
.btn_on{background-position:-128px 0;}
.high_speed_mode{font-family:'SimSuncss','\5b8b\4f53';font-size:16px;color:#838282;}
/*login*/
.login_page{}