{{define "index_index"}}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>千兆浏览器首页</title>
    <link rel="stylesheet" href="./main/css/style.css">
</head>
<body>
<div class="wrapper">
    <div id="header">
        <img src="./main/img/logo.jpg" alt="" class="logo">
        <div class="search">
            <form action="https://www.baidu.com/s" method="get" id="frm">
            <input type="text" value="" name="word"/>
            <a href="#" onclick="document.getElementById('frm').submit();">百度一下</a>
            </form>
        </div>
        <a href="#" class="collect" onclick="AddFavorite()">
            <i class="ico_collect"></i>
            <span>收藏本站</span>
        </a>
        <span class="date">7月22日&nbsp;周五</span>
    </div>

    <div class="banner">
        <a href="#" class="banner_list">
            <img src="./main/img/banner.jpg" alt="">
        </a>
        <div class="module">
            <ul>
                <li>
                    <a href="#" target="_blank" title="">
                        <i class="ico_huafei"></i>
                        <span>话费查询</span>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank" title="">
                        <i class="ico_liuliang"></i>
                        <span>流量查询</span>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank" title="">
                        <i class="ico_zhangdan"></i>
                        <span>账单查询</span>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank" title="">
                        <i class="ico_jifen"></i>
                        <span>积分兑换</span>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#" target="_blank" title="">
                        <i class="ico_yewu"></i>
                        <span>业务办理</span>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank" title="">
                        <i class="ico_chaoshi"></i>
                        <span>流量超市</span>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank" title="">
                        <i class="ico_zhineng"></i>
                        <span>智能专区</span>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank" title="">
                        <i class="ico_sheng"></i>
                        <span>3G升4G</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="discount">
            <h4>
                实时最新折扣
                <a href="http://www.yilejie.com" target="_blank">更多>></a>
            </h4>
            <ul class="discount_list">
                {{range .Ylj}}
                <li>
                    <a href="{{.Url}}" target="_blank" title="{{.Title}}">
                        <img src="{{.Pic}}" alt="{{.Title}}"/>
                        <span> {{.Title}}</span>
                    </a>
                </li>
                {{end}}
            </ul>
        </div>

        <div class="website">
            <ul class="website_tab">
                <li>
                    <a href="#" class="current">网址导航</a>
                </li>
                <li>
                    <a href="#">游戏</a>
                </li>
                <li>
                    <a href="#">视频</a>
                </li>
                <li>
                    <a href="#">音乐</a>
                </li>
                <li>
                    <a href="#">新闻</a>
                </li>
            </ul>
            <div class="website_list" style="display:block;">
                <ul>
                    <li>
                        <a href="http://union.dangdang.com/transfer.php?from=P-328528-99&ad_type=10&sys_id=1&backurl=http%3A%2F%2Fwww.dangdang.com" target="_blank" title="当当网">当当网</a>
                    </li>
                    <li>
                        <a href="http://www.mogujie.com/cps/open/track?uid=12inmby&feedback=99&channel=&target=http%3A%2F%2Fwww.mogujie.com%2F" target="_blank" title="蘑菇街">蘑菇街</a>
                    </li>
                    <li>
                        <a href="http://www.meilishuo.com/?nmref=NM_s10149_0_99&channel=40106&pstrc=NM_s10149_0_9" target="_blank" title="美丽街">美丽街</a>
                    </li>
                    <li>
                        <a href="https://click.yhd.com/?ut=10680917&s=Mjc0NDc5ODgyNTJjOWFkMzQ3YmU5ODc4MGZiMGViNTc1NWE3NjAwN2Y0MDZmMDMyYzIwZTMzNmE0ZjRlZTAyYzg1NTc5YmM3MTdlYWU2NDAzZmE4NDRmYWFlNjY5NWVj&cv=1&uid=99" target="_blank" title="1号店">1号店</a>
                    </li>
                    <li>
                        <a href="http://p.yiqifa.com/n?k=2mLErntOWZLErI6H2mLErn2s6ZLF6nDO6l4H6EDmrJVcMn4CRQqerI6HMNtF1NwOMNPH2L--&e=c&t=http://www.jd.com/" target="_blank" title="京东商城">京东商城</a>
                    </li>
                    <li>
                        <a href="http://p.yiqifa.com/n?k=2mLErn2F1n4H2mLErI6HYPUd3QAfrnDLWNbH1nD76ERSrn2q6lKFrI6HkQLErn2e3EWm6EB9rIW-&e=c&t=http://www.vip.com" target="_blank" title="唯品会">唯品会</a>
                    </li>
                    <li>
                        <a href="http://p.yiqifa.com/n?k=Nt7l37BfrI6H6N3OWcLErI6H2mLErnD76NyH1nD7WljSrn2F6EDerI6HkQLErntL6lPbWOgwrIW-&e=c&t=http://www.suning.com/" target="_blank" title="苏宁易购">苏宁易购</a>
                    </li>
                    <li>
                        <a href="http://p.yiqifa.com/n?k=2mLErnt71N2SrI6H2mLErI6H6NKm1QLF6nDO6l4H6l3eWN6HWKPfgsBMrZyH2mLL6JtF3lby1QLE&e=c&t=http://www.gome.com.cn" target="_blank" title="国美电器">国美电器</a>
                    </li>
                    <li>
                        <a href="http://p.yiqifa.com/n?k=2mLErn2L6E2SrI6H2mLErI6H6EKO1QLF6nDS1N4HWNWqWl3qrI6HkQLErJgb6NWqWJWmrnb7MKU3WcL-&e=c&t=http://www.vmall.com" target="_blank" title="华为商城">华为商城</a>
                    </li>
                    <li>
                        <a href="http://p.yiqifa.com/n?k=2mLErnDLWE3LrI6H2mLErBBPU7yA1QLq6ltm6mLF6nDS1N4H6nDFWlRqrI6HkQLErn681nweMEKmrIW-&e=c&t=http://www.mi.com/index.php" target="_blank" title="小米商城">小米商城</a>
                    </li>
                    <li>
                        <a href="http://p.yiqifa.com/n?k=2mLErnt71ZLErI6H2mqvDsyyWQ6HWEDernz76nWmWcLOWlXH2mqerI6H1nWq653m156H2L--&e=c&t=http://redbaby.suning.com" target="_blank" title="红孩子">红孩子</a>
                    </li>
                    <li>
                        <a href="http://p.yiqifa.com/n?k=gcyqPJqtrI6H6n2sWEUH2mLErI6H2mLq6lwq6cLF6nDl6l4H6N2l1NwSrI6HkQLErJgEMNRS6O3mrIW-&e=c&t=http://m.mia.com" target="_blank" title="蜜芽">蜜芽</a>
                    </li>
                    <li>
                        <a href="http://p.yiqifa.com/n?k=gn6n5EbZrI6HWNj76E4H2mLErI6H2mLsWE2mrnz76n2mWmLsWNDs6cLErZyH2mq81NRs1NjS3cLE&t=http://www.jumei.com/" target="_blank" title="聚美优品">聚美优品</a>
                    </li>
                    <li>
                        <a href="http://p.yiqifa.com/n?k=gcyLDmgOrI6HWEj71n6H2mLErI6H2mLS1NbH1nD7WERlrnRL1ZLErZyH2mLO35tq1J6wWQLE&t=http://www.moonbasa.com" target="_blank" title="梦巴莎">梦巴莎</a>
                    </li>
                    <li>
                        <a href="http://p.yiqifa.com/n?k=KKyOpyUfrI6H6nts1nXH2mLErI6H2mLq6lKe1ZLF6nDS6l6H6nzS1nD7rI6HkQLErn2F6nUyW927rIW-&t=http://www.feiniu.com" target="_blank" title="飞牛网">飞牛网</a>
                    </li>
                    <li>
                        <a href="http://www.sina.com.cn/" target="_blank" title="新浪">新浪</a>
                    </li>
                    <li>
                        <a href="https://www.taobao.com/" target="_blank" title="淘宝">淘宝</a>
                    </li>
                    <li>
                        <a href="http://www.jd.com/?cu=true&utm_source=hao.360.cn&utm_medium=tuiguang&utm_campaign=t_1000003625_360mz&utm_term=1c9616605ad748e4bc9df9880f198399" target="_blank" title="京东">京东</a>
                    </li>
                </ul>
            </div>

            <div class="website_list">
                <ul>
                    <li>
                        <a href="http://www.4399.com/" target="_blank" title="4399小游戏">4399小游戏</a>
                    </li>
                    <li>
                        <a href="http://game.zol.com.cn/" target="_blank" title="中关村游戏">中关村游戏</a>
                    </li>
                    <li>
                        <a href="http://www.7k7k.com/" target="_blank" title="7k7k小游戏">7k7k小游戏</a>
                    </li>
                    <li>
                        <a href="http://wow.blizzard.cn/" target="_blank" title="魔兽世界">魔兽世界</a>
                    </li>
                    <li>
                        <a href="http://dnf.qq.com/" target="_blank" title="地下城与勇士">地下城与勇士</a>
                    </li>
                    <li>
                        <a href="http://popkart.tiancity.com/homepage/v2/" target="_blank" title="泡泡卡丁车">泡泡卡丁车</a>
                    </li>
                    <li>
                        <a href="http://dn.sdo.com/web10/index/index.html" target="_blank" title="龙之谷">龙之谷</a>
                    </li>
                    <li>
                        <a href="http://x5.qq.com/" target="_blank" title="QQ炫舞">QQ炫舞</a>
                    </li>
                    <li>
                        <a href="http://xyq.163.com/" target="_blank" title="梦幻西游">梦幻西游</a>
                    </li>
                    <li>
                        <a href="http://world2.wanmei.com/" target="_blank" title="完美世界">完美世界</a>
                    </li>
                    <li>
                        <a href="http://cf.qq.com/" target="_blank" title="穿越火线">穿越火线</a>
                    </li>
                    <li>
                        <a href="http://www.ali213.net/zt/edf41tsond/" target="_blank" title="地球防卫军">地球防卫军</a>
                    </li>
                    <li>
                        <a href="http://www.ali213.net/zt/homefront2/" target="_blank" title="国土防线2">国土防线2</a>
                    </li>
                    <li>
                        <a href="http://www.ali213.net/zt/setsuna/" target="_blank" title="我是刹那">我是刹那</a>
                    </li>
                    <li>
                        <a href="http://www.ali213.net/zt/fallout4/" target="_blank" title="辐射4">辐射4</a>
                    </li>
                    <li>
                        <a href="http://www.ali213.net/zt/gta5/" target="_blank" title="GTA5">GTA5</a>
                    </li>
                    <li>
                        <a href="http://www.ali213.net/zt/aoepa/" target="_blank" title="绝对迎击战争">绝对迎击战争</a>
                    </li>
                    <li>
                        <a href="http://www.ali213.net/zt/nomanssky/" target="_blank" title="无人深空">无人深空</a>
                    </li>
                </ul>
            </div>

            <div class="website_list">
                <ul>
                    <li>
                        <a href="http://movie.youku.com/" target="_blank" title="优酷电影">优酷电影</a>
                    </li>
                    <li>
                        <a href="http://www.iqiyi.com/dianying/index.html" target="_blank" title="奇艺高清">奇艺高清</a>
                    </li>
                    <li>
                        <a href="http://movie.tudou.com/" target="_blank" title="土豆电影">土豆电影</a>
                    </li>
                    <li>
                        <a href="http://movie.kankan.com/" target="_blank" title="迅雷电影">迅雷电影</a>
                    </li>
                    <li>
                        <a href="http://movie.pptv.com/" target="_blank" title="PPTV电影">PPTV电影</a>
                    </li>
                    <li>
                        <a href="http://v.baidu.com/movie" target="_blank" title="百度视频">百度视频</a>
                    </li>
                    <li>
                        <a href="http://tv.sohu.com/movie/" target="_blank" title="搜狐电影">搜狐电影</a>
                    </li>
                    <li>
                        <a href="http://v.qq.com/movie/" target="_blank" title="腾讯电影">腾讯电影</a>
                    </li>
                    <li>
                        <a href="http://www.1905.com/vod/" target="_blank" title="M1905在线电影">M1905在线电影</a>
                    </li>
                    <li>
                        <a href="http://movie.le.com/" target="_blank" title="乐视网">乐视网</a>
                    </li>
                    <li>
                        <a href="http://www.juchang.cn/movie/" target="_blank" title="酷6网">酷6网</a>
                    </li>
                    <li>
                        <a href="http://www.fun.tv/" target="_blank" title="风行电影">风行电影</a>
                    </li>
                    <li>
                        <a href="http://www.cctv.com/" target="_blank" title="CNTV视频">CNTV视频</a>
                    </li>
                    <li>
                        <a href="http://www.56.com/" target="_blank" title="56网视频">56网视频</a>
                    </li>
                    <li>
                        <a href="http://player.baidu.com/yingyin.html" target="_blank" title="百度影音">百度影音</a>
                    </li>
                    <li>
                        <a href="http://www.aipai.com/" target="_blank" title="爱拍原创">爱拍原创</a>
                    </li>
                    <li>
                        <a href="http://www.douyu.com/" target="_blank" title="斗鱼直播">斗鱼直播</a>
                    </li>
                    <li>
                        <a href="http://www.acfun.tv/" target="_blank" title="ACFUN弹幕">ACFUN弹幕</a>
                    </li>
                </ul>
            </div>
            <div class="website_list">
                <ul>
                    <li>
                        <a href="http://music.baidu.com/" target="_blank" title="百度音乐">百度音乐</a>
                    </li>
                    <li>
                        <a href="http://www.1ting.com/" target="_blank" title="一听音乐">一听音乐</a>
                    </li>
                    <li>
                        <a href="http://www.kugou.com/" target="_blank" title="酷狗音乐">酷狗音乐</a>
                    </li>
                    <li>
                        <a href="http://www.kuwo.cn/" target="_blank" title="酷我音乐">酷我音乐</a>
                    </li>
                    <li>
                        <a href="http://y.qq.com/" target="_blank" title="QQ音乐">QQ音乐</a>
                    </li>
                    <li>
                        <a href="http://music.hao123.com/tag/%E7%BB%8F%E5%85%B8%E8%80%81%E6%AD%8C" target="_blank" title="经典老歌">经典老歌</a>
                    </li>
                    <li>
                        <a href="http://fm.baidu.com/" target="_blank" title="音乐随心听">音乐随心听</a>
                    </li>
                    <li>
                        <a href="http://www.9ku.com/" target="_blank" title="九酷音乐">九酷音乐</a>
                    </li>
                    <li>
                        <a href="http://www.xiami.com/" target="_blank" title="虾米音乐">虾米音乐</a>
                    </li>
                    <li>
                        <a href="http://www.yinyuetai.com/" target="_blank" title="音悦台">音悦台</a>
                    </li>
                    <li>
                        <a href="https://douban.fm/" target="_blank" title="豆瓣电台">豆瓣电台</a>
                    </li>
                    <li>
                        <a href="http://www.duomi.com/" target="_blank" title="多米音乐">多米音乐</a>
                    </li>
                    <li>
                        <a href="http://www.yue365.com/" target="_blank" title="365音乐">365音乐</a>
                    </li>
                    <li>
                        <a href="http://music.163.com/" target="_blank" title="网易云音乐">网易云音乐</a>
                    </li>
                    <li>
                        <a href="http://www.migu.cn/" target="_blank" title="咪咕音乐">咪咕音乐</a>
                    </li>
                    <li>
                        <a href="http://www.musicradio.cc/" target="_blank" title="音乐之声">音乐之声</a>
                    </li>
                    <li>
                        <a href="http://music.sina.com.cn/" target="_blank" title="新浪乐库">新浪乐库</a>
                    </li>
                    <li>
                        <a href="http://www.songtaste.com/" target="_blank" title="SongTaste">SongTaste</a>
                    </li>
                </ul>
            </div>
            <div class="website_list">
                <ul>
                    <li>
                        <a href="http://news.sina.com.cn/" target="_blank" title="新浪新闻">新浪新闻</a>
                    </li>
                    <li>
                        <a href="http://news.sohu.com/" target="_blank" title="搜狐新闻">搜狐新闻</a>
                    </li>
                    <li>
                        <a href="http://news.qq.com/" target="_blank" title="腾讯新闻">腾讯新闻</a>
                    </li>
                    <li>
                        <a href="http://news.163.com/" target="_blank" title="网易新闻">网易新闻</a>
                    </li>
                    <li>
                        <a href="http://news.ifeng.com/" target="_blank" title="凤凰资讯">凤凰资讯</a>
                    </li>
                    <li>
                        <a href="http://www.xinhuanet.com/" target="_blank" title="新闻网">新闻网</a>
                    </li>
                    <li>
                        <a href="http://www.people.com.cn/" target="_blank" title="人名网">人名网</a>
                    </li>
                    <li>
                        <a href="http://www.chinanews.com/" target="_blank" title="中国新闻网">中国新闻网</a>
                    </li>
                    <li>
                        <a href="http://news.cctv.com/" target="_blank" title="央视新闻">央视新闻</a>
                    </li>
                    <li>
                        <a href="http://www.huanqiu.com/" target="_blank" title="环球网">环球网</a>
                    </li>
                    <li>
                        <a href="http://news.baidu.com/" target="_blank" title="百度新闻">百度新闻</a>
                    </li>
                    <li>
                        <a href="http://www.cankaoxiaoxi.com/" target="_blank" title="参考消息">参考消息</a>
                    </li>
                    <li>
                        <a href="http://www.china.com/" target="_blank" title="中华网">中华网</a>
                    </li>
                    <li>
                        <a href="http://www.zaobao.com/" target="_blank" title="联合早报">联合早报</a>
                    </li>
                    <li>
                        <a href="http://www.infzm.com/" target="_blank" title="南方周末">南方周末</a>
                    </li>
                    <li>
                        <a href="http://news.hao123.com/" target="_blank" title="新闻大全">新闻大全</a>
                    </li>
                    <li>
                        <a href="http://toutiao.com/" target="_blank" title="今日头条">今日头条</a>
                    </li>
                    <li>
                        <a href="http://www.banyuetan.org/" target="_blank" title="半月谈">半月谈</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="often_visit">
            <h4>
                您的常用访问
            </h4>
            <ul class="often_list">
                <li>
                    <a href="#" target="_blank" title="">
                        <img src="./main/images/9xulogo.jpg" alt=""/>
                        <span>按时发送方骄傲是附件为</span>
                    </a>
                </li>
            </ul>
        </div>

    </div>

    <div class="bottom_banner">
        <a href="#" target="_blank" title="">
            <img src="./main/img/bottom_banner.jpg" alt=""/>
        </a>
    </div>

</div>
</body>
<script src="./js/jquery-1.10.2.min.js"></script>
<script>
    $(function(){
        $('body').on('click','a',function(){
            if($(this).attr('href')=='#'){
                return false;
            }
        }).on('focus', 'a', function () {
            $(this).blur();
        });
        if(document.body.clientHeight>595){
            var ele=$('.wrapper').css({
                'position':'absolute',
                'top':'50%',
                'left':'50%',
                'marginTop':'-374px',
                'marginLeft':'-600px'
            })
        }
        $('.website_tab li').eq(4).css('border-right-width',0);
        $('.module ul').each(function(){
            $('.module ul').eq(1).css('border-top','1px solid #eee');
            $(this).find('li').eq(3).css('border-right-width',0);
        });

        $('.website_tab li a').click(function(){
            $('.website_tab li a').removeClass('current');
            $(this).addClass('current');
            $('.website_list').hide().eq($(this).parent().index()).show();
        });
    })
    function AddFavorite() {
        try {
            window.external.addFavorite(location.href, "千兆浏览器首页");
        }
        catch (e) {
            try {
                window.sidebar.addPanel(title, url, "");
            }
            catch (e) {
                alert("抱歉，您所使用的浏览器无法完成此操作。\n\n加入收藏失败，请使用Ctrl+D进行添加");
            }
        }
    }
</script>
</html>
{{end}}