html{font: 12px/1.5 Tahoma, Helvetica, Arial, 'Microsoft YaHei', sans-serif;overflow-x:hidden;_background: url(about:black) no-repeat #f5f5f5 fixed}
body {min-width:646px;text-align:center;overflow: auto;background-color:#f5f5f5;}
ul{list-style-type:none;}
body,div,ul, menu, dir ,form,input,button,textarea,p,th,td{
padding: 0;
margin: 0;
}
a {
text-decoration: none;
cursor: pointer;
color: #7F7F7F;
}
address, caption, cite, code, dfn, em, i, th, var {
font-weight: normal;
font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
font-size: 100%;
margin:0;
}
img{border:none;display:block;}
.contents_all{width:100%;height:100%;overflow:hidden;}
.top_search{position: absolute; top: 0; left: 0; width: 100%; z-index: 1;}
.search_all{margin:90px auto 80px auto;width:640px;_width:650px;}
.baidu_search_logo{background:url(../image/baidu_search.jpg) no-repeat;width:126px;height:47px;float:left;display:block;}
.search_input{float:left;background:url(../img/search_bg.jpg) no-repeat\9;width:480px;height:32px;margin-top:8px;}
.ipt_search,.btn_search{outline:0;border-style:solid;border-color:#dedede;border:none\9;background:none\9;font-family:'Microsoft Yahei','\5fae\8f6f\96c5\9ed1';float:left;}
.ipt_search{-webkit-appearance:none;height:14px;margin-left:0px;width:376px;padding:7px 9px 7px 7px;border-width:1px 0 1px 1px;background-color:#fff;box-shadow:1px 3px 8px #efefef inset;background:none\9;}
input.btn_search{border-width:1px;cursor:pointer;height:30px;line-height:20px;font-size:16px;color:#6d6d6d;width:86px;background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f0f0f0));}
.contents_c{position: absolute;width: 100%;height: 100%;top: 0;left: 0;}
.page {position: absolute;top:10%;_top:40px;padding-top:140px;left:-200%;width: 100%;}
.page.current{left:0;}
.contents{height: 100%;}
.often_visit{margin-left:auto;white-space:nowrap;margin-right:auto;width:80%;_width:1128px;height:100%;min-width:643px;}
.page_list{display:block;float:left;width:25%;*width:24.5%;}
.page_list .page_p{position:relative;height:auto;max-width:278px!important;max-height:160px!important; margin:6px 8px;box-shadow:0 15px 24px rgba(0,0,0,.21);-webkit-opacity:0.95;opacity:0.95;border-radius: 3px;}
.page_list img{width:100%;}
.edit_bar,.page_p .title{position: absolute;bottom: 0;left: 0;width: 100%;text-align: left;display: none;}
.title{font-size: 13px;line-height: 20px;color: white;}
.title span{display:block;padding:2px 7px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.edit_bar{cursor: move;height: 25px;background-color:#000;filter:alpha(opacity=40);-webkit-opacity:0.4;opacity:0.4;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;}
.page_list:hover .edit_bar,.page_list:hover .title{display:block;}
.shopping_bg{margin: 0 auto;position: relative;width: 1000px;box-shadow: 0 15px 30px rgba(0, 0, 0, .3);overflow: hidden;height:454px;background-color:#EEE8DC;text-align:left;background:url(../img/shopping_bg.jpg) no-repeat\9;width:1001px\9;padding:8px 23px 18px 12px\9;}
.imglist,.productlist,.websitelist{float: left;height:438px;overflow: hidden;}
.imglist{width:334px;padding:8px 4px 8px 8px;}
.productlist{width:388px;height:446px;padding:8px;padding:8px 0 0 0;position:relative;*z-index:-1;}
.websitelist{width:254px;padding:8px 8px 8px 4px;float:right;}
.imglist img{width:100%}
.imglist .first_im a{height:192px;display:block;position:relative;}
.imglist .first_img img{height:192px;}
.imglist .first_img{position: relative;height:192px;}
.imglist .opa,.imglist .title{display:block;position: absolute; bottom: 0; _bottom:1px; left:0;width: 100%;}
.imglist .opa{height:33px;filter:alpha(opacity=60);-ms-opacity:0.6;-webkit-opacity:0.6;opacity:0.6;background-color:#000; }
.imglist ul li .opa{height:27px; }
.imglist .title{pointer-events: none;overflow:hidden;}
.imglist .title em{display:block;margin:1px;color: #fff; font-size: 16px; line-height: 33px; padding:0 5px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.imglist ul li{float:left;width:50%;position: relative;}
.imglist ul li .title em{font-size: 12px; line-height: 25px }
.imglist a{position:relative; display: block}
.imglist ul li img{height:120px;}
.padding1{padding:1px;}
.productlist .tit-bar{box-shadow: 0 1px 3px rgba(0,0,0,.19), inset 1px 2px rgba(255,255,255,.05);border: solid 1px #c05035;border-radius: 2px;background: #c95f45; font-size: 14px;color:#fff; height:27px;line-height:27px; padding: 0 8px;margin:0 8px;}
.tit-bar em{font-weight: bold;float:left;}
.productlist .tit-bar ul{float: right;}
.productlist .tit-bar ul li{float: left; margin: 5px 0 0 4px}
.productlist .tit-bar ul li a{display: block; width: 19px; height: 19px; border-radius: 2px; background-color:#df9f8f; text-align: center; line-height: 19px; color: #c95f45}
.productlist .tit-bar ul li a:hover,.productlist .tit-bar ul li a.selected{background: #ffede9; color:#e74c07}

.productlist .list-container{width:99999999999px;height:100%;overflow:hidden;}
.productlist .list-container ul{width:388px;float:left;padding-top:4px;}
.productlist .list-container ul li{overflow: hidden;background:url(../img/product_bg.jpg) no-repeat;width:371px;height:92px;padding:0 8px 8px 9px;margin-top:7px;margin-bottom:-6px;*margin-bottom:-7px;margin-left:2px;}
.productlist .list-container ul li .img img{float: left; height: 100%;}
.productlist .util{position: relative;width:260px;_width:255px; height: 100%; float: left; margin:3px 8px}
.productlist .util h3{font-weight: normal}
.productlist .util h3 a{color:#373737;}
.productlist .util h3 a:hover{text-decoration: underline;}
.productlist .util .bottom{position: absolute; bottom: 8px; width: 100%}
.productlist .util .bottom a.a_zhi{float:left;border: solid 1px #f5d2b8; background-color: #fff0e5; padding:0 3px 0 0; margin-top: 3px; height: 21px; line-height: 21px; color: #d75f06;}
.productlist .util .bottom a.a_zhi i{display:inline-block;float: left;width:13px;height:13px;background:url(../img/ico_good.png) no-repeat;margin:3px 3px 0 3px;}
.productlist .util .bottom a.a_price{float:right; color: #dc401a; font-size: 18px;}
.websitelist .tit-bar{box-shadow: 0 1px 3px rgba(0,0,0,.19), inset 1px 2px rgba(255,255,255,.05);border: solid 1px #7a8fb4;border-radius: 2px;background: #859bc2; font-size: 14px;color:#fff; height:27px; line-height:27px; padding: 0 8px}
.websitelist .banglist{overflow:hidden;height:394px;*height:398px;box-shadow: 0 0 3px rgba(0,0,0,.06), 0 2px 4px rgba(0,0,0,.19);border-radius: 3px;border:1px solid #d6d6d6\9;border-top:0\9;background: #fffdf9; margin:11px 1px 0;*margin:7px 1px 0;}
.websitelist  .tabs{position: relative; margin:0 -1px;}
.websitelist  .tabs li{float:left;width:25%;color:#848484;height:28px;line-height:28px; text-align:center;box-sizing:border-box;cursor:pointer}
.websitelist  .tabs li.cls_0{*width:24.5%;}
.websitelist  .tabs li.hot span{border-radius: 3px 0 0;}
.websitelist  .tabs li.shuma{*margin-left:-2px;_margin-left:0;}
.websitelist  .tabs li.shuma span{border-radius: 0 3px 0 0; border-right-width:1px;}
.websitelist  .tabs li.selected span{background-color:#acc9f8; border-color:#a4bce8;color:#fff;}
.websitelist  .tabs li.selected+li span{border-left-color:#a4bce8}
.websitelist  .tabs li span{display:block;border:1px solid #d6d6d6; border-right-width:0; background:#f3f3f3;}
.websitelist .contents{height:100%}
.websitelist .contents ul{height:100%; display: none;}
.websitelist .contents li{clear:both; margin-top:7%;*margin-top:6%; height:3.5%}
.websitelist .contents li a:hover{text-decoration: underline}
.websitelist .contents li div,.websitelist .contents li p{float:left;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.websitelist .contents li div{width:50%}
.websitelist .contents li p{width:30%}
.websitelist .contents li a.quan{width:20%; color:#ed4800}
.websitelist .contents li em { margin:-2px 10px 0 15px; display:inline-block; border-radius:1px; width: 15px; line-height: 15px; text-align:center; vertical-align: middle; color:#fff; font-family: Arial;font-weight:bold; background: #bbb9b4 }
.websitelist .contents li.first em{ background: #ff912d; }
.websitelist .contents li.second em,
.websitelist .contents li.third em{ background: #3db4ff;}
.websitelist .contents li p a{color:#006ddd;}
.websitelist .contents li p a .rank0,.websitelist .contents li p a .rank1,.websitelist .contents li p a .rank2{display:inline-block;margin-right:6px;width:11px;height:12px;background-image:url(../img/rank.jpg);background-repeat: no-repeat;}
.websitelist .contents li p a .rank0{background-position:-24px 0;}
.websitelist .contents li p a .rank1{background-position:0 0;}
.websitelist .contents li p a .rank2{background-position:-12px 0;}


.sliders_left,.sliders_right{width: 84px;height: 100%;position: fixed;top: 0;z-index:99;cursor:pointer;}
.sliders_left a,.sliders_right a{display:block;height: 100%;width:100%;}
.sliders_left i,.sliders_right i{display:block;}
.sliders_left{left:0;}
.sliders_left .sliders_i,.sliders_right .sliders_i,.sliders_right.active .sliders_i,.sliders_left.active .sliders_i,.sliders_right a:hover .sliders_i,.sliders_left a:hover .sliders_i{
background-image: url(../img/page_btn.png);background-repeat:no-repeat;width:35px;height:79px;display:inline-block;position:absolute;top:-webkit-calc(50% - 39px);top:calc(50% - 39px);top:45%\9;z-index:1;}
.sliders_left .sliders_i{background-position:0 0;left:24px;}
.sliders_right{right:1px;_position:absolute;_right:auto;_top:45%;left:expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginLeft,10)||0)-(parseInt(this.currentStyle.marginRight,10)||0));}
.sliders_right .sliders_i{background-position:-36px 0;right:24px;}


.sliders_left a:hover,.sliders_right a:hover{background-color:rgba(0,0,0,.06);}
.sliders_left a:hover .page_btn,.sliders_right a:hover .page_btn{background-color:#000\9;_background-color:none;filter:alpha(opacity=6)\9;display:block;float:left;position:absolute;left:0;top:0;z-index:-1;width:100%;height:100%;}
.sliders_left a:hover .sliders_i,.sliders_left.active .sliders_i{background-position:-72px 0;_left:23.9px;}
.sliders_right a:hover .sliders_i,.sliders_right.active .sliders_i{background-position:-106px 0;_right:24px; }
.sliders_left.active,.sliders_right.active{background-color:rgba(0,0,0,.06);}
.sliders_left.active .page_btn,.sliders_right.active .page_btn{background-color:none;filter:alpha(opacity=6)\9;display:block;float:left;position:absolute;left:0;top:0;width:100%;height:100%;}
.footer{position: absolute;z-index: 18;bottom: 65px;left:0;width: 100%;height: 35px;overflow: visible;}
.divcen316 div{width: 113px;float:left;height: 35px;display: inline-block;background-image: url(../img/footer_bg.png);background-repeat: no-repeat;}
#dot-list {display: inline-block;float:left;width:90px;height: 35px;vertical-align: top;-webkit-padding-start: 0;-webkit-margin-after: 0;-webkit-margin-before: 0;background:url(../img/footer_middle_bg.png) repeat-x;}
#dot-list .selected {background: rgba(255,255,255,.5);border-bottom: solid 1px #6dadff;}
.dot {display: inline-block;float:left;cursor: pointer;width: 90px;outline: none;text-align: center;height: 33px;position: relative;margin-top: 1px;}
.footer .footer-left {background-position:0 0;}
.footer .footer-right {background-position:-114px 0;}
.dot input{background-color: transparent;border:none;cursor: inherit;font-size: 14px;width: 100%;-webkit-appearance: caret;-webkit-transition: all 0.2s;color: rgba(0,0,0,0.5);font-weight: bold;text-align: center;font-family: "Microsoft Yahei";margin-top:7px;}
/* person */
.g-all{background-color:#fff;}
.divcen316{width:316px;margin-right:auto;margin-left: auto;}
.hidden{display:none;}
.disb{display:block;}
.clearfix {*zoom:1;}
.clearfix:after {
content: ' ';
display: block;
height: 0;
clear: both;
}
