@charset "utf-8";
html,body,p,ul,h2,h4,h6{
	padding:0;
	margin:0;
}
body{
	min-width:1000px;
	padding-bottom:100px;
	font-size:12px;
	font-family:"微软雅黑";
	background-color:#fff;
}
ul{
	list-style-type:none;
}
a{
	text-decoration:none;
}
#header{
	width:100%;
	height:40px;
	line-height:40px;
	background-color:#e8f4ba;
}
#header ul{
	width:950px;
	height:40px;
	margin:0 auto;
}
#header ul li{
	float:left;
	margin:0 5px;
	font-size:20px;
	color:#a7ad94;
}
#header ul li.logout{
	float:right;
}
#header ul li a{
	display:block;
	font-size:14px;
	color:#8d936e;
}
#header ul li a:hover{
	color:#7e8460;
}
#header ul li a.logo{
	width:128px;
	height:29px;
	margin:5px 0 0 2px;
	background:url(../img/logo.jpg) no-repeat;
}
#header ul li span{
	font-size:18px;
	color:#101010;
}
#banner{
	width:100%;
	height:264px;
	background:url(../img/bg_banner.jpg) top center no-repeat;
}

.avatar_all{
	position:relative;
	width:950px;
	height:264px;
	margin:0 auto;
}
.bg_avatar{
	position:absolute;
	top:0;
	left:0;
	z-index:2;
	width:950px;
	height:264px;
	background:url(../img/bg_avatar.png) left top no-repeat;
}
.avatar{
	position:absolute;
	top:0;
	left:0;
	z-index:1;
	width:138px;
	height:138px;
	margin-top:27px;
	margin-left:37px;
}
.modify_avatar{
	display:block;
	width:110px;
	height:28px;
	margin-top:138px;
	margin-left:51px;
	line-height:28px;
	font-size:12px;
	color:#fff;
	text-align:center;
}
.account{
	position:absolute;
	top:50px;
	left:218px;
	z-index:3;
}
.account h6{
	margin-bottom:27px;
	font-size:22px;
	color:#000;
	font-weight:400;
}
.account p{
	font-size:14px;
	color:#4d4d4d;
}
#personal_center{
	position:relative;
	z-index:99;
	width:775px;
	padding-left:175px;
	margin:-55px auto 0 auto;
	box-shadow:0 0 10px rgba(0,0,0,.12);
	-webkit-box-shadow:0 0 10px rgba(0,0,0,.12);
	-ms-filter: "progid:DXImageTransform.Microsoft.shadow(Strength=4, Direction=135, Color="#f1f1f1")";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#f1f1f1');
	background-color:#f4f7f8;
}
#personal_center h4{
	position:relative;
	font-size:18px;
	font-weight:400;
}
.ico_person,.ico_bperson,.ico_speed,.ico_left,.ico_right,.ico_success,.ico_failed,.ico_close{
	position:absolute;
	display:block;
	background-image:url(../img/ico_small.jpg);
	background-repeat:no-repeat;
}
.ico_person{
	width:22px;
	height:21px;
	background-position:0 0;
}
.ico_bperson{
	width:22px;
	height:21px;
	background-position:-24px 0;
}
.ico_speed{
	width:22px;
	height:21px;
	background-position:-47px 0;
}
.ico_left{
	width:18px;
	height:15px;
	background-position:-71px 0;
}
.ico_right{
	width:18px;
	height:15px;
	background-position:-90px 0;
}
.ico_success{
	width:12px;
	height:12px;
	background-position:-109px 0;
}
.ico_failed{
	width:12px;
	height:12px;
	background-position:-122px 0;
}
.ico_close{
	width:10px;
	height:10px;
	background-position:-135px 0;
}
.pc_left{
	position:absolute;
	top:0;
	left:0;
	width:175px;
}
.pc_left h4{
	width:108px;
	height:55px;
	padding-left:67px;
	line-height:55px;
	color:#fff;
	font-weight:400;
	background-color:#0a8cd2; 
}
.pc_left h4 i{
	top:18px;
	left:39px;
}
.pc_right{
	padding:1px 0 200px 48px;
	box-shadow:-2px 0 5px rgba(0,0,0,.12);
	-webkit-box-shadow:-2px 0 5px rgba(0,0,0,.12);
	background-color:#fff;
}
.pc_right h4{
	padding-left:25px;
	margin-top:34px;
	margin-bottom:12px;
}
.pc_right h4 i{
	top:2px;
	left:0;
}
.info,.speed_record{
	padding-left:25px;
}
.info p,.speed_record p{
	height:40px;
	line-height:40px;
	font-size:14px;
	color:#999;
}
.info p label{
	padding-right:20px;
}
.info p a{
	color:#0a8cd2;
}
.info p a:hover{
	color:#0380c4;
}
.hline{
	height:25px;
	border-bottom:1px solid #f3f3f3;
}
.change_avatar{

}
.popup_bg{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:9999;
    background-color:#000;
    filter:alpha(opacity=30);
    -moz-opacity:0.3;
    -webkit-opacity:0.3;
    opacity:0.3;
}
.change_avatar_c{
	position:fixed;
	top:50%;
	left:50%;
	z-index:9999;
	margin-top:-270px;
	margin-left:-325px;
	width:570px;
	height:445px;
	padding:40px 40px 45px 40px;
	font-family:"宋体";
	border:5px solid #5d5d5d;
	border:5px solid rgba(0,0,0,.5);
	background-color:#fff;
}
.change_avatar_c .ico_close{
	position:absolute;
	top:9px;
	right:7px;
}
.change_avatar_c h4{
	height:25px;
	margin-bottom:15px;
	font-size:18px;
	color:#555;
	font-family:"微软雅黑";
}
.ca_cleft{
	float:left;
	width:342px;
	/*margin-right:80px*/
}
.upload_img{
	width:340px;
	height:340px;
	line-height:21px;
	font-size:12px;
	text-align:center;
	color:#555;
	border:1px solid #b2b2b2;
	background-color:#f4f4f4;
	cursor:pointer;
}
.upload_avatar{
	display:block;
	width:86px;
	height:28px;
	margin:154px 0 11px 126px;
	font-size:14px;
	color:#555;
	text-align:center;
	line-height:28px;
	cursor:pointer;
	border:1px solid #d6d6d6;
	background:url(../img/bg_btn.jpg) repeat-x;
}
/*.head_direction{
	margin-top:10px;
	height:15px;
	margin-bottom:20px;
	line-height:15px;
}
.head_direction a{
	position:relative;
	font-size:12px;
	color:#56adf9;
}
.turn_left{
	float:left;
	padding-left:20px;
}
.turn_left i{
	position:absolute;
	top:0;
	left:0;
}
.turn_right{
	float:right;
	padding-right:20px;
}
.turn_right i{
	position:absolute;
	top:0;
	right:0;
}*/
.upload_btn{
	height:32px;
	margin-top:35px;
}
.upload_btn input{
	float:left;
	width:58px;
	height:28px;
	padding:0;
	margin-right:14px;
	line-height:28px;
	font-size:14px;
	color:#555;
	text-align:center;
	cursor:pointer;
	border:1px solid #d6d6d6;
	background:url(../img/bg_btn.jpg) repeat-x;
}
.upload_success,.upload_failed{
	position:relative;
	float:left;
	height:17px;
	line-height:17px;
	padding-left:14px;
	margin-top:11px;
}
.upload_success{
	margin-right:17px;
	color:#1dc200;
}
.upload_failed{
	color:#f00;
}
.upload_success i,.upload_failed i{
	position:absolute;
	top:2px;
	left:0;
}
.ca_cright{
	float:right;
	font-size:12px;
	color:#555;
}
.ca_cright h6{
	font-weight:400;
}
.old_avatar,.new_avatar{
	position:relative;
}
.new_avatar{
	margin-top:58px;
}
.old_avatar img,.new_avatar img{
	width:140px;
	height:140px;
	overflow:hidden;
}
.bg_eavatar{
	position:absolute;
	top:0;
	right:0;
	z-index:1;
	width:180px;
	height:140px;
	background:url(../img/bg_eavatar.png) right center no-repeat;
}
